%h1.page-title Products

.row
  .col-md-5.col-md-offset-3
    = link_to 'New Product', new_product_path
    = link_to 'Back', root_path
    %ul.list-group
      - @products.each do |product|
        %a.book-path{href: product_path(product), class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center'}
          .flex-custom
            .flex-column
              = product.title 
              %p
                %small
                  = "Description: #{product.description}"
                  %br
                  = "Price: #{product.price}"
            .image-parent 
              = image_tag product.image, class: 'img-fluid', alt: product.title
