%main
  .options-bar
    #category-option.dropdown
      %p.drop-text 
        CATEGORY
        %span.custom-caret ⌄
      .dropdown-content 
        %p PASTA 
        %p PIZZA 
        %p SOUP 
        %p SALAD 

    #sorting-option.dropdown
      %p.drop-text
        SORTING
        %span.custom-caret ⌄
      .dropdown-content 
        %p A-Z
        %p Z-A
        %p Price: L-H 
        %p Price: H-L

    #vegetarian-option.dropdown
      %p.drop-text
        VEGETARIAN
        %span.custom-caret ⌄
      .dropdown-content 
        %p VEGETARIAN
        %p VEGAN
        %p NON-VEGETARIAN
    
    %p#price-option PRICE 
    %p#min-price-option.price-option $15
    %input#price-range-bar{type: 'range', name: 'price', min: '15', max: '100'}
    %p#max-price-option.price-option $100
  
  .grid-container
    #container.custom-container
      - @products.each do | product |
        .dish
          =image_tag(product.image, class: 'food-image')
          .info 
            %p.dish-name= product.title 
            %p.description= product.description 
            %p.price= "$#{product.price}"
            = link_to 'Add to cart', add_to_cart_path, product: 'yes'
