%main
  .grid-container
    #container.custom-container
      - @products.each do | product |
        .dish
          =image_tag(product.image, class: 'food-image')
          .info 
            %p.dish-name= product.title 
            %p.description= product.description 
            %p.price= "$#{product.price}"
            = link_to 'Add to cart', add_to_cart_product_path(product.id), method: :post
